<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<h1><%= title %></h1>

<form action="/users/" method="post" >
    Email:<br>
    <input type="text" name="email">
    <br>
    Password:<br>
    <input type="text" name="password">
    <br>
    Phone Number:<br>
    <input type="text" name="phoneNumber">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
